* {
    box-sizing: border-box;
}


::selection {
    color: black;
    background-color: #c8c8c8;
}

:root {
    --main-color: #ffaf00
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Lexend Deca', sans-serif;
    /* height: 3000px; */
    position: relative;
}

.title {
    color: var(--main-color);
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }


}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 0;

}

header .name {
    font-size: 25px;
    color: var(--main-color);
    box-sizing: content-box;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
}

header .name span {
    color: #ed4140e0;
    padding-right: 5px;
}



header nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;


}


header nav ul li {
    padding-right: 40px;
    transition: .2s;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 16px;
}

header nav ul li:hover {
    height: 60px;
}



header nav ul a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
}




.about {
    background-color: white;
    width: 100%;
    height: 600px;
    background-color: var(--main-color);
    /* background-image: url(../meda/Yellow-Pencil-Visual-CSS-Editor-For-Wordpress.png);
    background-repeat:no-repeat ;
    background-size:cover ; */
    position: relative;
    top: 150px;

}

.about .title {
    top: -70px;
}



.about img {
    position: absolute;
    right: 0;
    top: 100px;
    height: 500px;
    max-width: 100%;

}



.about-content {

    position: absolute;
    top: 100px;
   

}




.about-content h1 {
    color: white;
    font-size: 50px;
}

.about-content p {
    color: #707070;
    max-width: 400px;
    padding-bottom: 40px;
    font-size: 17px;
}

.about-content a {
    width: fit-content;
    text-decoration: none;
    background-color: white;
    color: var(--main-color);
    font-size: 40px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    transition: transform .2s;
}

.about-content a:hover {
    transform: scale(1.1);
}



.experiences {
    margin-top: 200px;
    position: relative;
    width: 100%;
    height: 400px;
}





.experiences .images {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    text-align: center;
    color: var(--main-color);
}

.experiences .images i {
    font-size: 120px;
    transition: transform .3s;
}


.experiences .images i:hover {
    transform: scale(1.1);
}


.contact {
    position: relative;
    height: 300px;
    display: grid;
}



.contact-conent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-top: 80px;
}

.contact-conent i {
    font-size: 70px;

}

.contact .phone a:hover {
    color: #17980e;
}


.contact .phone a i {
    padding-right: 3px;
}

.contact .phone a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 25px;
    transition: 0.2s;
}




.contact .mail a:hover {
    color: #484b4a;
}


.contact .mail a svg {
    padding-right: 3px;
}


.contact .mail a svg path {
    transition: .2s;
}

.contact .mail a span {
    transition: .1s
}


.contact .mail a:hover svg path:nth-of-type(1) {
    fill: #4285F4;
}

.contact .mail a:hover svg path:nth-of-type(2) {
    fill: #34A853;
}

.contact .mail a:hover svg path:nth-of-type(3) {
    fill: #EA4335;
}

.contact .mail a:hover svg path:nth-of-type(4) {
    fill: #FBBC04;
}

.contact .mail a:hover svg path:nth-of-type(5) {
    fill: #C5221F;
}




/* 
     .contact .mail a:hover span:nth-of-type(2) {
        color: #4285F4;
    }

    .contact .mail a:hover span:nth-of-type(3) {
        color: #EA4335;
    }

    .contact .mail a:hover span:nth-of-type(4) {
        color: #FBBC04;
    }

    .contact .mail a:hover span:nth-of-type(5) {
        color: #34A853;
    } */






.contact .mail a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: .2s;

}


footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;   
    padding-left: 100px;
    padding-right: 25px;
}



footer .copy-right {
    color: white;
    position: relative;

}

footer .copy-right span {
    font-size: 10px;

}


footer .links {
    display: flex;
}

footer .links div a {
    padding-right: 20px;
    transition: .3s;
    color: white;
    opacity: .5;
    font-size: 14px;
}






footer .facebook a:hover {
    color: yellow;
    opacity: 1;

}

footer .github a:hover {
    color: yellow;
    opacity: 1;

}


footer .facebook a:hover {
    color: #0d8af0;
    opacity: 1;

}

footer .instagram a:hover {
    color: #af0dea;
    opacity: 1;

}

footer .discord a:hover {
    color: #5865f2;
    opacity: 1;

}

footer .codben a:hover {
    opacity: 1;

}

footer .github a:hover {
    color: #ffc107;
    opacity: 1;

}




@media (max-width:767px) {


    .about img {
        display: none;
    }

    .contact-conent i {
        font-size: 50px;
    }

    .contact-conent svg  {
        width: 60px;
    }


    header .name {
        color: #ff5722;
    }



}


@media (max-width:580px) {


    header .name {
        font-size: 16px;


    }



    header nav ul li {

        padding-right: 10px;
        padding-top: 10px;
    }

    .experiences .images i {
        font-size: 90px;
    }

    footer {
        padding-left: 30px;
    }

    .copy-right {
        font-size: 14px;
    }

    footer .links div a i {
        font-size: 16px;
    }

}







@media (max-width:425px) {

    header .name {
        font-size: 14px;


    }


    header nav ul li {
        font-size: 12px;
    }

    .about-content h1 {
        font-size: 40px;
    }
    .about-content p {
        font-size: 15px;
    }

    .experiences .images h1 {
        font-size: 25px;
    }

    .experiences .images i {
        font-size: 80px;
    }



    .copy-right {
        font-size: 12px;
    }

    footer .links div a i {
        font-size: 12px;
    }



}

@media (max-width:350px) {

    header .name {
        font-size: 11px;


    }

    header nav ul li {
        font-size: 10px;
    }


    .copy-right {
        font-size: 12px;
    }

    footer .links div a i {
        font-size: 12px;
    }
}
